<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>D Survey Guru - Company</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../../font/iconsmind-s/css/iconsminds.css"/>
    <link rel="stylesheet" href="../../font/simple-line-icons/css/simple-line-icons.css"/>

    <link rel="stylesheet" href="../../css/vendor/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../css/vendor/fullcalendar.min.css"/>
    <link rel="stylesheet" href="../../css/vendor/dataTables.bootstrap4.min.css"/>
    <link rel="stylesheet" href="../../css/vendor/datatables.responsive.bootstrap4.min.css"/>
    <link rel="stylesheet" href="../../css/vendor/select2.min.css"/>
    <link rel="stylesheet" href="../../css/vendor/perfect-scrollbar.css"/>
    <link rel="stylesheet" href="../../css/vendor/owl.carousel.min.css"/>
    <link rel="stylesheet" href="../../css/vendor/bootstrap-stars.css"/>
    <link rel="stylesheet" href="../../css/vendor/nouislider.min.css"/>
    <link rel="stylesheet" href="../../css/vendor/bootstrap-datepicker3.min.css"/>
    <link rel="stylesheet" href="../../css/main.css"/>
    <link rel="stylesheet" href="../../css/dore.light.blue.min.css"/>

</head>

<body id="app-container" class="menu-sub-hidden show-spinner">
<nav class="navbar fixed-top">
    <div class="d-flex align-items-center navbar-left">
        <a href="#" class="menu-button d-none d-md-block">
            <svg class="main" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 17">
                <rect x="0.48" y="0.5" width="7" height="1"/>
                <rect x="0.48" y="7.5" width="7" height="1"/>
                <rect x="0.48" y="15.5" width="7" height="1"/>
            </svg>
            <svg class="sub" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 17">
                <rect x="1.56" y="0.5" width="16" height="1"/>
                <rect x="1.56" y="7.5" width="16" height="1"/>
                <rect x="1.56" y="15.5" width="16" height="1"/>
            </svg>
        </a>

        <a href="#" class="menu-button-mobile d-xs-block d-sm-block d-md-none">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 17">
                <rect x="0.5" y="0.5" width="25" height="1"/>
                <rect x="0.5" y="7.5" width="25" height="1"/>
                <rect x="0.5" y="15.5" width="25" height="1"/>
            </svg>
        </a>

    </div>


    <a class="navbar-logo" href="/backend">
        D SURVEY GURU
    </a>

    <div class="navbar-right">
        <div class="header-icons d-inline-block align-middle">
            <div class="position-relative d-none d-sm-inline-block">
                <button class="header-icon btn btn-empty" type="button" id="iconMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <i class="simple-icon-grid"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right mt-3  position-absolute" id="iconMenuDropdown">
                    <a href="#" class="icon-menu-item">
                        <i class="iconsminds-equalizer d-block"></i>
                        <span>Settings</span>
                    </a>

                    <a href="#" class="icon-menu-item">
                        <i class="iconsminds-bar-chart-4 d-block"></i>
                        <span>Profits</span>
                    </a>

                    <a href="#" class="icon-menu-item">
                        <i class="iconsminds-file d-block"></i>
                        <span>Surveys</span>
                    </a>


                </div>
            </div>

            <button class="header-icon btn btn-empty d-none d-sm-inline-block" type="button" id="fullScreenButton">
                <i class="simple-icon-size-fullscreen"></i>
                <i class="simple-icon-size-actual"></i>
            </button>

        </div>

        <div class="user d-inline-block">
            <button class="btn btn-empty p-0" type="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                <span class="name">Test Company</span>
                <span>
                        <img alt="Profile Picture" src="../../img/profile-pic-l.jpg"/>
                    </span>
            </button>

            <div class="dropdown-menu dropdown-menu-right mt-3">
                <a class="dropdown-item" href="#">Account</a>
                <a class="dropdown-item" href="#">History</a>
                <a class="dropdown-item" href="#">Support</a>
                <a class="dropdown-item" href="#">Sign out</a>
            </div>
        </div>
    </div>
</nav>
<div class="sidebar">
    <div class="main-menu">
        <div class="scroll">
            <ul class="list-unstyled">
                <li>
                    <a href="/whatever">
                        <i class="iconsminds-shop-4"></i>
                        <span>Dashboards</span>
                    </a>
                </li>
                <li class="active">
                    <a href="/survey/answerSurvey">
                        <i class="iconsminds-digital-drawing"></i> Survey
                    </a>
                </li>
                <li>
                    <a href="#System">
                        <i class="iconsminds-three-arrow-fork"></i> System
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="sub-menu">
        <div class="scroll">

            <ul class="list-unstyled" data-link="Resell">
                <li>
                    <a href="Apps.MediaLibrary.html">
                        <i class="simple-icon-picture"></i> Surveys
                    </a>
                </li>
                <li>
                    <a href="Apps.Todo.List.html">
                        <i class="simple-icon-check"></i> Orders
                    </a>
                </li>
            </ul>
            <ul class="list-unstyled" data-link="System">

                <li>
                    <a href="Ui.Tables.html">
                        <i class="simple-icon-grid"></i> Settings
                    </a>
                </li>
            </ul>

        </div>
    </div>
</div>
<main>
    <div class="container-fluid">
        <div class="row app-row ">
            <div class="col-12 survey-app">
                <div class="mb-2">
                    <h1>
                        <%= survey[0].surveyTitle %></h1>
                    <div class="float-md-right">

                        <button type="button" onclick="location.href = '/survey';"
                                class="btn btn-lg btn-outline-primary top-right-button top-right-button-single"
                                aria-haspopup="true" aria-expanded="false">
                            Back to list
                        </button>

                    </div>
                </div>
                <ul class="nav nav-tabs separator-tabs ml-0 mb-5" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="first-tab" data-toggle="tab" href="#first" role="tab"
                           aria-controls="first" aria-selected="true">DETAILS</a>
                    </li>
                </ul>
                <div class="tab-content mb-4">
                    <div class="tab-pane show active" id="first" role="tabpanel" aria-labelledby="first-tab">
                        <div class="row">

                            <div class="col-lg-12 col-12 mb-12">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <p class="list-item-heading mb-4">Summary</p>

                                        <p class="text-muted text-small mb-2">Date</p>
                                        <p class="mb-3">
                                            12.03.2019 - 18.03.2019
                                        </p>

                                        <p class="text-muted text-small mb-2">Labels</p>
                                        <div>
                                            <p class="d-sm-inline-block mb-1">
                                                <a href="#">
                                                    <span class="badge badge-pill badge-outline-theme-3 mb-1"><%= survey[0].surveyCategory %></span>
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-lg-12">
                                <form method="post" action="/survey/answerQuestion">
                                    <input class="form-control" type="text"
                                           name="surveyID" value="<%= survey[0].surveyID %>" style="display: none">
                                    <div class="survey-app">
                                        <% questions.forEach(function (question) { %>
                                            <% switch (question.questionType) {
                                            case '1' : %>
                                            <div>
                                                <div class="card question d-flex mb-4 view-quesiton">
                                                    <div class="d-flex flex-grow-1 min-width-zero">

                                                        <div class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
                                                            <div class="list-item-heading mb-0 truncate w-80 mb-1 mt-1">
                                                                <%= question.questionTitle %>
                                                            </div>
                                                        </div>
                                                        <div class="custom-control custom-checkbox pl-1 align-self-center pr-4">

                                                            <button class="btn btn-outline-theme-3 icon-button rotate-icon-click rotate"
                                                                    type="button" data-toggle="collapse"
                                                                    data-target="#q1" aria-expanded="true"
                                                                    aria-controls="q1">
                                                                <i class="simple-icon-arrow-down with-rotate-icon"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="question-collapse collapse show" id="q1">
                                                        <div class="card-body pt-0">
                                                            <div class="view-mode">
                                                                <div class="view-mode">
                                                                    <select class="form-control select2-single">
                                                                        <% Answers = question.questionAnswer.split("|"); %>
                                                                        <% Answers.forEach(function (Answer) { %>
                                                                            <% if(Answer != "") { %>
                                                                                <option value="0"><%= Answer %></option>
                                                                            <% } %>
                                                                        <% }) %>
                                                                    </select>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <% break;
                                            case '2' : %>
                                            <div>
                                                <div class="card question d-flex mb-4 view-quesiton">
                                                    <div class="d-flex flex-grow-1 min-width-zero">

                                                        <div class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
                                                            <div class="list-item-heading mb-0 truncate w-80 mb-1 mt-1">
                                                                <%= question.questionTitle %>
                                                            </div>
                                                        </div>
                                                        <div class="custom-control custom-checkbox pl-1 align-self-center pr-4">

                                                            <button class="btn btn-outline-theme-3 icon-button rotate-icon-click rotate"
                                                                    type="button" data-toggle="collapse"
                                                                    data-target="#q1" aria-expanded="true"
                                                                    aria-controls="q1">
                                                                <i class="simple-icon-arrow-down with-rotate-icon"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="question-collapse collapse show" id="q1">
                                                        <div class="card-body pt-0">
                                                            <div class="view-mode">
                                                                <div class="view-mode">
                                                                    <% Answers = question.questionAnswer.split("|"); %>
                                                                    <% Answers.forEach(function (Answer) { %>
                                                                        <% if(Answer != "") { %>
                                                                            <div class="custom-control custom-checkbox">
                                                                                <input type="checkbox"
                                                                                       class="custom-control-input"
                                                                                       id="<%= Answer %>">
                                                                                <label class="custom-control-label"
                                                                                       for="<%= Answer %>"><%= Answer %></label>
                                                                            </div>
                                                                        <% } %>
                                                                    <% }) %>

                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <% break;
                                            case '3' : %>
                                            <div>
                                                <div class="card question d-flex mb-4 view-quesiton">
                                                    <div class="d-flex flex-grow-1 min-width-zero">

                                                        <div class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
                                                            <div class="list-item-heading mb-0 truncate w-80 mb-1 mt-1">
                                                                <%= question.questionTitle %>
                                                            </div>
                                                        </div>
                                                        <div class="custom-control custom-checkbox pl-1 align-self-center pr-4">

                                                            <button class="btn btn-outline-theme-3 icon-button rotate-icon-click rotate"
                                                                    type="button" data-toggle="collapse"
                                                                    data-target="#q1" aria-expanded="true"
                                                                    aria-controls="q1">
                                                                <i class="simple-icon-arrow-down with-rotate-icon"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="question-collapse collapse show" id="q1">
                                                        <div class="card-body pt-0">
                                                            <div class="view-mode">
                                                                <div class="view-mode">
                                                                    <% Answers = question.questionAnswer.split("|"); %>
                                                                    <% Answers.forEach(function (Answer) { %>
                                                                        <% if(Answer != "") { %>
                                                                            <div class="custom-control custom-radio">
                                                                                <input type="radio" id="<%= Answer %>" name="customRadio" class="custom-control-input">
                                                                                <label class="custom-control-label" for="<%= Answer %>"><%= Answer %></label>
                                                                            </div>
                                                                        <% } %>
                                                                    <% }) %>

                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <% break;
                                            } %>
                                        <% }) %>
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-outline-primary btn-sm mb-2">
                                            <i class="simple-icon-bubble btn-group-icon"></i>
                                            Submit Questions
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="app-menu">
        <div class="p-4">
            <div class="scroll">
                <p class="text-muted text-small">Status</p>
                <ul class="list-unstyled mb-5">
                    <li class="active">
                        <a href="#">
                            <i class="simple-icon-refresh"></i>
                            Active Surveys
                            <span class="float-right">3</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="simple-icon-check"></i>
                            Completed Surveys
                            <span class="float-right">0</span>

                        </a>
                    </li>
                </ul>

                <p class="text-muted text-small">Categories</p>
                <ul class="list-unstyled mb-5">
                    <li>
                        <div class="custom-control custom-checkbox mb-2">
                            <input type="checkbox" class="custom-control-input" id="category1">
                            <label class="custom-control-label" for="category1">Education</label>
                        </div>
                    </li>
                    <li>
                        <div class="custom-control custom-checkbox mb-2">
                            <input type="checkbox" class="custom-control-input" id="category2">
                            <label class="custom-control-label" for="category2">Technology</label>
                        </div>
                    </li>
                    <li>
                        <div class="custom-control custom-checkbox ">
                            <input type="checkbox" class="custom-control-input" id="category3">
                            <label class="custom-control-label" for="category3">Entertainment</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <a class="app-menu-button d-inline-block d-xl-none" href="#">
            <i class="simple-icon-refresh"></i>
        </a>
    </div>

</main>

<script src="../../js/vendor/jquery-3.3.1.min.js"></script>
<script src="../../js/vendor/bootstrap.bundle.min.js"></script>
<script src="../../js/vendor/Chart.bundle.min.js"></script>
<script src="../../js/vendor/chartjs-plugin-datalabels.js"></script>
<script src="../../js/vendor/moment.min.js"></script>
<script src="../../js/vendor/fullcalendar.min.js"></script>
<script src="../../js/vendor/datatables.min.js"></script>
<script src="../../js/vendor/perfect-scrollbar.min.js"></script>
<script src="../../js/vendor/owl.carousel.min.js"></script>
<script src="../../js/vendor/progressbar.min.js"></script>
<script src="../../js/vendor/jquery.barrating.min.js"></script>
<script src="../../js/vendor/select2.full.js"></script>
<script src="../../js/vendor/nouislider.min.js"></script>
<script src="../../js/vendor/bootstrap-datepicker.js"></script>
<script src="../../js/vendor/Sortable.js"></script>
<script src="../../js/vendor/mousetrap.min.js"></script>
<script src="../../js/dore.script.js"></script>
<script src="../../js/scripts.single.theme.js"></script>

</body>

</html>